$color_orange : #ef5112;

.navbar-fixed-top{
	background: #f2f2f2;
	height: 35px;
}

.gn-menu-main{
	margin-top: 10px;
	span{
		font-weight: bold;
	}
	span:hover{
		font-weight: bold;
		color:$color_orange;
	}

}
.menu-center{
	margin-top: 10px;
	ul{
		list-style: none;
		li{
			float: left;
			margin-left:6px;
			span{
				font-size: 15px;

			}
			span:hover{
				font-size: 15px;
				color:$color_orange;
			}
		}
	}
}
.icon{
		color:$color_orange;
		padding-right: 3px;
		padding-left: 10px;
	}
#imenu{
	color:$color_orange;
	font-size: 19px;

}
.address{

	ul{
		list-style: none;
		float: left;
		margin-top: 10px;
		li{
			display: inline-block;
			padding-left: 5px;
			span{ 
			}
			span:hover{ 
				color:$color_orange;
			}
		}
	}
}
.add{
	font-weight: bold;
}
.last{
	background: #f8f8f8;
	border-radius: 3px;
	padding: 0px 4px;
	border: 1px solid #ccc;
	margin-top: -2px;
}
.top{
	margin-top: 85px;
}
.logo{
	width: 400px;
	margin: auto;
}
.full-search{
	p{
		font-size: 15px;
		strong{
			font-size: 17px;
			color: $color_orange;
		}
	}
}
.input{
	input{
		border-radius: 0px;
	}
	button{
		border-radius: 0px;
		background: $color_orange;
	
	}
	p{
		color: #737373;
		font-size: 14px;
		padding-top: 5px;
		padding-bottom: 10px;
	}
}
.danhsach{
	h2{
		font-size: 12px;
		padding: 0px 0px 15px 0px;
		font-weight: bold;
		border-bottom: 1px solid $color_orange;
	}
}
.row{
	ul{
		list-style: none;
		li{ 
			a{
				text-decoration: none;
			}
			a:hover{
				color:$color_orange;
				text-decoration: none;
			}

		}
	}
}
h3{
	font-size: 12px;
	padding: 0px 0px 15px 0px; 
	font-weight: bold;
}
h3:hover{
	font-size: 12px;
	padding: 0px 0px 15px 0px;
	font-weight: bold;
}
.bg_icon{
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ccc;
	border-bottom: 3px solid #ccc;
	text-align: center;
	padding: 10px 0px 10px 0px;


}
.bg_icon:hover{
	background: #bfbfbf;
	border-radius: 5px;
	border: 1px solid #ccc;
	border-bottom: 3px solid #ccc;
	text-align: center;
	padding: 10px 0px 10px 0px;


}
.banner{
	border-top: 1px solid #ccc;
	margin-top: 20px;
}
.ca{
	height: 50px; 
	background:#ccc;
	h4{
		padding-top: 10px;
		color:$color_orange;
	}
	.pull-right{
		padding-top: 10px;
	}
	
}
.fluid{
	ul{
		padding-left: 0px;
		list-style: none;
		li{
			position: relative;
			.bt{
				padding: 0px;
				border-radius: 3px;
				background: $color_orange;
				margin: 3px;
				color:#fff;
				font-size: 0.7em;
				position: absolute;
				top:0px;
			}
			
		}
	}
}
.canh{

	background:#fcf8e3;
	margin:20px;
	padding-top: 10px;
	border: 1px solid #8a6d3b;
	border-radius: 5px;
	p{
		padding: 10px;
	}
}
.bd{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#test{
 
	background: #fff; 
	margin-left:-15px;
	margin-top: 40px;
	border: 1px solid #ccc; 
	ul{
		list-style: none;
		li{
			padding: 5px;
			span{
				padding-left: 5px;
			}
			&:hover {
				background: #000;
				padding: 5px;
				span{
					color:#fff;
					padding-left: 5px;
				}
				i{
					color:#fff;
				}
				}
		}
		li:hover{
			
		}
	}
}
.ihome{
	background: $color_orange;
	color:#fff;
}
.itrang{
	color:$color_orange;
}
.footer{
	margin-top: 10px;
}
.f{
	margin-top: 10px;
	padding:10px;
}
.m{
	margin-top: 10px;
	padding:10px;
	color: #ccc;
}
.slide{
	-webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
	transform: translateX(-1000px);

}

/*.list{
	border-bottom: 1px solid $color_orange;
}*/
/*.menu-center {
	display: none;
	@media only screen and(max-width: 1000px) {
		display: none;
	}
}*/
.address {
	@media only screen and(max-width: 370px) {
		display: none;
	}
}
#del{
	@media only screen and(max-width: 1000px) {
		display: none;
	}
}

.active{
	transition: 1s ease-in-out;
	transform: translateX(0px);
	-webkit-transform: translate(0,3px);
	-moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
}
#fk{
	margin-right: 12px;
}
/*đăng nhập*/
