*{
	margin: 0px;
	padding: 0px;
}

.logo{
	margin-top: 20px;
	text-align: center;
	.row{
		padding: 10px;
	}
	span{
		color: #ccc;
		font-size: 1.5em;
	}
}
.form{
	background: #f7f7f7;
	text-align: center;
	img{
		padding-top: 10px;
		padding-bottom: 10px;

	}
	label{
		float: left;
		padding-top: 10px;
	}
}
.input{
	width: 80%;
	margin: auto;
}
form{
	padding-top: 10px;
	margin-bottom: 20px;
	label{
		padding-top: 10px;
	}
	spam{
		content: #ccc;
	}
	input{
		padding-bottom: 20px;
	}

}
#full{
	border-radius: 5px;
}
.canhbao{
	margin-top: 20px;
	margin-bottom: 20px;
	background:#fcf8e3;
	border-radius: 5px;
	border: 1px solid #8a6d3b;
	p{
		padding: 20px;
	}
}