.header_index{
   color:#0072bc;
	padding-left:7px;
	font-weight:bold;
   font-size: 12px;
   font-family: Arial;
   height: 42px;
   line-height: 42px;
}
.line_1{
   padding: 0 5px;
}
.header_index a{
   text-decoration: none;
}
#acc_name{
   color: #ff9900;
}
.left_title{
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	font-weight:bold;
	color:#142E62;
}
#test-list {
	list-style: none;
	padding:0px;
	margin:0px;
	background:white;
}
#test-list li {
	display: block;
	list-style:none;
	text-align:left;
	border-bottom:dotted 1px #79C5EB;
}
#test-list li .t span{
	font-weight:bold;
	color:#0F67A1;
	text-decoration:none;
}
#test-list li .m{
	padding-bottom:5px;
	padding-top:5px;
	cursor:pointer;
}
#test-list li .m a{ text-decoration:none; color:#660000}
#test-list li img.handle {
	cursor: move;
}

.header{
   font-size: 12px;
}
/*input[type="text"],select{*/
   /*width: auto;*/
   /*height: 20px !important;*/
   /*padding: 0 2px !important;*/
   /*font-size: 12px;*/
   /*margin: 0px;*/
/*}*/
/*.search{*/
   /*padding: 5px;*/
/*}*/
/*.btn-search{*/
   /*font-size: 12px;*/
   /*padding: 0px 10px;*/
   /*color: white;*/
/*}*/
/*.label_text{*/
   /*padding: 0 5px 0 10px;*/
/*}*/
/*.content table .h{*/
   /*background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);*/
   /*border-bottom: 1px solid #BBBBBB;*/
   /*border-left: medium none;*/
   /*padding: 3px;*/
   /*text-align: center;*/
   /*font-size: 12px;*/
/*}*/
/*.table_small{*/
   /*border-spacing:0;*/
   /*border-collapse:collapse;*/
   /*border: none;*/
/*}*/
/*.table_small tr,.table_small td{*/
   /*border: none;*/
/*}*/
/*.table_small td{*/
   /*padding: 3px;*/
/*}*/
/*.page td{*/
   /*border:none;*/
/*}*/
/*.tooltip{*/
   /*position: static;*/
   /*display: table-cell;*/
   /*opacity: 1;*/
/*}*/
/*td.label_action{*/
   /*font-weight: bold;*/
   /*padding-right: 10px;*/
/*}*/
/*label{*/
   /*font-size: 11px;*/
   /*display: inline-block;*/
   /*margin: 0;*/
   /*padding: 0 5px;*/
/*}*/
/*input[type="checkbox"], input[type="radio"]{*/
   /*margin: 0 5px;*/
/*}*/
/*.content .table td{*/
   /*padding: 5px;*/
/*}*/
/*.textbox{*/
   /*width: 130px;*/
/*}*/
/*select.textbox{*/
   /*width: 134px;*/
/*}*/
/*form{*/
   /*margin : 0px;*/
/*}*/
/*.table td.date{*/
   /*text-align: left;*/
/*}*/
/*.btn {*/
    /*padding: 0px 10px;*/
/*}*/